<div class="col-sm-6 col-sm-6 col-sm-offset-3">
    <h3>Project Form</h3>
   
    <div class="form-group">
      <label class="control-label" for="stackproject">Stack Project:</label>

<select [(ngModel)]="selectedstack.id" (change)="onSelect($event.target.value)">
  <option value="0">--Select--</option>
  <option *ngFor="let stackproject of stackprojects" value= {{stackproject.id}}>{{stackproject.name}}</option>
</select>
</div>

<div class="form-group">
    <label class="control-label" for="Project">Projects:</label>
<select [(ngModel)]="selectedproject.id" (change)="onSelectProject($event.target.value)">
  <option *ngIf='selectedstack.id == 0' value="0">--Select--</option>
  <option *ngFor="let project of projectsdetails " value= {{project.id}}>{{project.name}}</option>
</select>
</div>
<div class="form-group">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
        <!-- Position Column -->
        <ng-container matColumnDef="No">
          <th mat-header-cell *matHeaderCellDef> No </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="Name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="Description">
          <th mat-header-cell *matHeaderCellDef> Description </th>
          <td mat-cell *matCellDef="let element"> {{element.description}} </td>
        </ng-container>
      
        <!-- Symbol Column -->
        <ng-container matColumnDef="Server">
          <th mat-header-cell *matHeaderCellDef> Server </th>
          <td mat-cell *matCellDef="let element"> {{element.server}} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      
</div>
</div>